{{ define "main" }}
  <h2 class="main__heading">
    <span>Recent posts</span>
    <a class="main__heading-link" href='{{ .RSSLink }}'>
      <img src='{{ "images/rss.svg" | absURL }}' alt="RSS">
    </a>
  </h2>
  <div class="main__content">
    {{ range last 10 (where .Data.Pages "Type" "posts") }}
      {{ partial "content-preview.html" . }}
    {{ end }}
  </div>
{{ end }}

{{ define "footer" }}
  <footer class="footer">
    <a class="footer__link" href='{{ .Site.RSSLink }}'>RSS Feed</a>
    <a class="footer__link" href='{{ .Site.Params.GithubLink }}/{{ .Site.Params.GithubRepo }}'>Source</a>
    <a class="footer__link">&copy; 2018</a>
  </footer>
{{ end }}
